{%extends 'base.html'%} {% block content %}

<link href="https://fonts.googleapis.com/css?family=Girassol&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lilita+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" 
rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">

<h1 class="index" style="text-align: center; margin-top: 50px; font-family: 'Girassol', cursive; font-size: 50px;">GALLERY</h1>

<!--displaying images-->
<div class="card">
      <div class="container">
          {% for image in images %}
            <div class="col-md-4" style="margin-top: 20px;">
              <a class="img" data-toggle="modal" data-target="#{{image.id}}"
              ><img
              src="{{image.image_url.url}}"
              alt="gallery img"
              class="img-responsive" 
            /></a>
          </div>
      </div>
</div>

<!-- Modal -->
<div id="{{image.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" style="font-size: 30px; text-align: center; font-family: 'Open Sans Condensed', sans-serif;">{{image.image_title}}</h4>
      </div>
      <div class="modal-body">
        <img src="{{image.image_url.url}}" alt="image.image_title" style="padding-left: 38px;">
        <p class="des" style="font-size: 20px; text-align: center; font-family: 'Noto Serif', serif;">{{image.image_description}}</p>
        <p class="location" style="font-size: 20px; text-align: center;font-family: 'Playfair Display SC', serif;">Location:{{image.image_location}}</p>
        <p class="location" style="font-size: 20px; text-align: center;font-family: 'Playfair Display SC', serif;">Category:{{image.image_category}}</p>
      </div>
      <div class="modal-footer">
        <input class="form-control input-lg" type="text" value="{{image.image_url}}" id="{{image.id}}.url">
        <button class="btn btn-success btn-sm" onclick="copy('{{image.id}}.url')">Copy</button>
        <button type="button" class="btn btn-sucess" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</div>
{% endfor %}

{% endblock content %}

<style>
</style>
