{%extends 'base.html'%}
{% block content %}

<h1 class="text-center" >welcome</h1>


<!--displaying images-->
<section class="gallery py-5" id="gallery">
  <div class="container">
    <div class="inner-sec-wthree py-lg-5 py-3">
      <h2 class="text-center">My Photos</h2>

  <div class="row news-grids mt-lg-5 mt-4 text-center"> 
  {% for image in images %}

    <img src="{{image.image_url.url}}" alt="gallery img" class="img-responsive"></a>
  </div> 
  </div>
</div>  
  {% endfor %}
</section>

 {% endblock content %}
 
  
   